
        <footer class="bar-color">
            Ministério da Economia e Planeamento - Todos os Direitos Reservados © 2019
        </footer>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/arquivo_admin.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
