<% include partials/head %>

<main role="main">
    <section class="text-center container-my">
        <div class="container">
            <h1 class="jumbotron-heading">Documento Enviado</h1>
        </div>
        <div class="img-done">
            <img src="./../images/done.svg" height="128"  />
        </div>
        <div class="img-done">
            <a href="/dashboard" >Início</a> 
        </div>
    </section>
</main>