
*{
	margin: 0;
	padding: 0;
}

.space {
	padding: 20px;
}

.bar-color {
	background-color: #23304E !important;
}

.container-my {
	padding: 40px;
}
.body-card{
	width: 60%;
	margin: 5% 25%;
	background-color: #fff;
	position: absolute;
}
.body-card .cap{
	text-align: center;
	color:  rgb(37, 37, 37);
}
.body-card .form-control{
	width: 90%;
	margin: 2% auto;
	
}
.body-card .btn{
	width: 20%;
	color: #fff;
	background-color: rgb(37, 37, 37);
	margin: 4% 40%;

}
.body-card label{
	margin: 2% 5%;
	
}

.form-control {
	margin: 20px 0 !important;
}

.btn-login {
	width: 100%;
}

.myform {
	padding: 30px;
	margin: 30px 0;
	border: 1px solid #ccc;
	border-radius: 20px;
	width: 500px;
}

.loading-content {
	padding: 0;
	margin: 0;
	border: 1px solid #ccc; 
	
}

.loading {
	background-color: #343A40;
	text-align: center;
	padding: 6px;
	color: #fff;
	display: none;
}

.img-done {
	width: 100%;
	height: 150px;
	margin: 50px auto;
}

.pastas a {
	display: flex;
	flex-direction: column;
}

.pastas span {
	color: #343A40;
	font-weight: 600;
	break-inside: auto;
	width: 100px;
	
}

.pastas:hover {
	text-decoration-line: underline;
	text-decoration-color: #343A40;
	cursor: pointer;
}

.content-pastas {
	justify-content: space-around;
}

.custom-head-color {
	background-color: #23304E !important;
	color: #ccc;
}